
$ufoGreen: rgba(46,213,115, 1);
@function ufoGreen($Alpha){
  @return rgba(46,213,115, $Alpha); //绿色
}

$winterGreen: rgba(50,255,126, 1);
@function limeSoap($Alpha){
  @return rgba(50,255,126, $Alpha); //青色
}

$limeSoap: rgba(123,237,159, 1);
@function limeSoap($Alpha){
  @return rgba(123,237,159, $Alpha); //浅绿
}

$nasturcianFlower: rgba(232,65,24, 1);
@function nasturcianFlower($Alpha){
  @return rgba(232,65,24, $Alpha); //红色
}

